@model System.Data.DataTable
@{
    ViewData["Title"] = "Lista de Películas";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<table id="myTable" class="display">
    <thead class="thead-light">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Tipo de Sangre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
            <th>Última Donación</th>
            <th>Restricciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["nombre"]</td>
                <td>@row["apellido"]</td>
                <td>@row["edad"]</td>
                <td>@row["genero"]</td>
                <td>@row["tipoSangre"]</td>
                <td>@row["direccion"]</td>
                <td>@row["telefono"]</td>
                <td>@row["correoElectronico"]</td>
                <td>@row["ultimaDonacion"]</td>
                <td>@row["restricciones"]</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@row["id"]">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@row["id"]">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
